doctype html
html(lang="ru")
    head
        title VK TEST
        meta( charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="css/mainStyle.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
    body
        .allContent
            .allContent__content
                block content

    footer


    script(src="https://vk.com/js/api/openapi.js?152" type="text/javascript")
    script(rel="script" src="script/jquery-2.2.3.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
    script(rel="script" src="script/mainJS.js")

