@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/Orbitron-Medium.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/Orbitron-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/Orbitron-Bold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/Orbitron-Black.ttf");
  font-weight: 700;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3, h4, h5, h6 {
  font-size: 1.3rem; }

.mySVG {
  display: none; }

use.ic-star {
  fill: #f1c530;
  stroke: #292d33;
  stroke-width: 3px; }

.active use.ic-star {
  fill: #f9c000;
  stroke: #292d33; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh;
  font-family: "Orbitron", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  background-color: #abcfe9; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style-type: none;
  padding: 0; }

input[type="radio"] {
  display: none; }

input[type="checkbox"] {
  display: none; }

.allContent {
  min-height: 100%;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 768px) {
    .allContent {
      padding-bottom: 190px;
      background-position: -10px 0; } }
  @media (min-width: 1024px) {
    .allContent {
      padding-bottom: 195px; } }
  .allContent__content {
    max-width: 1240px;
    margin: 0 auto;
    background-color: #fff; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner {
  height: 100px;
  width: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  background: #f1c530;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2000;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px); }
  .spinner::before {
    content: '';
    height: 80px;
    width: 80px;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background: #292d33;
    border-radius: 50%;
    position: relative;
    left: 9px; }
  .spinner::after {
    content: '';
    height: 100px;
    background: #292d33;
    width: 15px;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: relative;
    right: 42.5px; }

.text-right {
  text-align: right; }

.admin {
  padding: 20px; }
  .admin__forrmAccount {
    display: inline-block;
    padding: 10px;
    border: 1px solid; }

.inputBlock {
  font-size: 1rem;
  margin-bottom: 10px; }
  .inputBlock label {
    display: block; }
  .inputBlock input {
    padding: 5px;
    margin-top: 5px; }

.listInfo {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px; }

.listBlog {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px; }
  .listBlog__block {
    padding: 10px;
    border: 1px solid; }
    .listBlog__block.parent {
      display: none; }
  .listBlog__nameBlog {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .listBlog__type {
    display: inline-block;
    vertical-align: top; }
  .listBlog__img {
    display: inline-block;
    vertical-align: top; }
  .listBlog__typeInput input:checked ~ label div:after {
    content: "";
    display: block;
    background-color: #000;
    height: 9px; }
  .listBlog__typeInput label div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid;
    padding: 2px;
    margin-right: 5px; }
  .listBlog__typeInput.radio label div {
    border-radius: 50%; }
    .listBlog__typeInput.radio label div:after {
      border-radius: 50%; }

.listAlbom {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px; }

.sendInfo {
  display: block;
  padding: 5px 10px;
  background: lightgray;
  border: 1px solid; }
  .sendInfo.saveBlog__js {
    margin: 10px;
    display: none; }

.slick-slide {
  max-width: 900px; }

.slick-initialized .slick-slide {
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px; }

.slick-slide img {
  display: block;
  max-width: 400px;
  max-height: 400px; }

.board_aboutUs {
  padding: 10px;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc; }