@import 'typography';
@import 'variables';
@import 'global';


.allContent{
  min-height: 100%;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative;

  @media (min-width: 768px) {
    padding-bottom: 190px;
    background-position: -10px 0;
  }

  @media (min-width: 1024px) {
    padding-bottom: 195px;

  }

  &__content{
    max-width: 1240px;
    margin: 0 auto;
    background-color: #fff;
  }
}


@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.spinner {
  height: 100px; width: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: $thirdColor;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2000;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

  &::before {
    content: '';
    height: 80px;
    width: 80px;
    display: flex;
    margin: 0 auto;
    background: $secondColor;
    border-radius: 50%;
    position: relative;
    left: 9px;
  }

  &::after {
    content: '';
    height: 100px;
    background: $secondColor;
    width: 15px;
    display: flex;
    margin: 0 auto;
    position: relative;
    right: 42.5px;
  }
}


.text-right{
  text-align: right;
}

.admin{
  padding: 20px;

  &__forrmAccount{
    display: inline-block;
    padding: 10px;
    border: 1px solid;
  }
}


.inputBlock{
  font-size: 1rem;
  margin-bottom: 10px;

  label{
    display: block;
  }

  input{
    padding: 5px;
    margin-top: 5px;
  }
}

.listInfo{
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.listBlog{
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;

  &__block{
    padding: 10px;
    border: 1px solid;

    &.parent{
      display: none;
    }
  }

  &__nameBlog{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__type{
    display: inline-block;
    vertical-align: top;
  }

  &__img{
    display: inline-block;
    vertical-align: top;
  }

  &__typeInput{
    input:checked{
      &~label{
        div{
          &:after{
            content: "";
            display: block;
            background-color: #000;
            height: 9px;
          }
        }
      }
    }

    label{
      div{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid;
        padding: 2px;
        margin-right: 5px;
      }
    }

    &.radio{
      label{
        div{
          border-radius: 50%;

          &:after{
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.listAlbom{
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.sendInfo {
  display: block;
  padding: 5px 10px;
  background: lightgray;
  border: 1px solid;

  &.saveBlog__js{
    margin: 10px;
    display: none;
  }
}

.slick-slide{
  max-width: 900px;
}

.slick-initialized .slick-slide {
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
}

.slick-slide img{
  display: block;
  max-width: 400px;
  max-height: 400px;
}


.board_aboutUs{
  padding: 10px;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}