* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh;
  font-family: $mainFont, $secondFont;
  font-weight: 500;
  font-size: $font-size+px;
  color: $fourColor;
  background-color: #abcfe9;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
}

input[type="radio"]{
  display: none;
}
input[type="checkbox"]{
  display: none;
}
