@font-face{
  font-family: 'Orbitron';

  src: url('../fonts/Orbitron-Medium.ttf');

  font-weight: 300;

  font-style: normal;
}

@font-face{
  font-family: 'Orbitron';

  src: url('../fonts/Orbitron-Regular.ttf');

  font-weight: normal;

  font-style: normal;
}

@font-face{
  font-family: 'Orbitron';

  src: url('../fonts/Orbitron-Bold.ttf');

  font-weight: 500;

  font-style: normal;
}

@font-face{
  font-family: 'Orbitron';

  src: url('../fonts/Orbitron-Black.ttf');

  font-weight: 700;

  font-style: normal;
}
