extends bloks/MainLayout.pug
block content
    .admin
        .admin__forrmAccount
            //.inputBlock
            //    label ID группы
            //    input(placeholder="input your id group")
            //.inputBlock
            //    label ваш ID
            //    input(placeholder="input your id")

            button.sendInfo.getAll_js Получить

        .listInfo
            .listBlog
                .listBlog__block.parent
                    .listBlog__nameBlog text

                    .listBlog__type
                        .listBlog__typeInput.radio
                            input(type='radio' name='aboutus' id='parentAbout' data-val="-1" checked)
                            label(for="parentAbout")
                                div
                                |About US
                        .listBlog__typeInput.check
                            input(type='checkbox' name='blog' id='parentCheck' value="blog")
                            label(for="parentCheck")
                                div
                                | Blog
                .listBlog__blogs

            .listAlbom
                .listBlog__block.parent
                    img.listBlog__img
                    .listBlog__nameBlog text

                    .listBlog__type
                        .listBlog__typeInput.radio
                            input(type='radio' name='mainSlider' id='mains' data-val="-1" checked)
                            label(for="mains")
                                div
                                |Main Slider
                .listBlog__blogs

            button.sendInfo.saveBlog__js Сохранить
